@media screen and (max-width: 600px) {
  .card-project-section {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
    width: 90%;
  }

  .card-project-section iframe {
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 240px;
    height: 120px;
  }

  .card-project-section h2 {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 601px) {
  .card-project-section {
    box-shadow: 5px 4px 2px #868b8e;
    height: 80vh;
    margin: 10px;
    width: 90%;
  }

  .card-project-section iframe {
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

.card-project-section {
  background-color: #ECF1F2;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.card-project-section a {
  background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
  margin: 8px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}


.card-project-section a:hover {
  /* border: 2px solid #53565A; */
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.card-project-section p {
  margin: 10px auto;
  text-align: justify;
  width: 90%;
}

.card-project-section h2 {
  color: black;
}
