@media screen and (max-width: 600px) {
  .card-project-section {
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-project-section iframe {
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 240px;
    height: 120px;
  }
}

@media screen and (min-width: 601px) {
  .card-project-section {
    box-shadow: 5px 4px 2px #868b8e;
    width: 90%;
    margin: 10px;
  }

  .card-project-section iframe {
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }
}

.card-project-section {
  background-color: #ECF1F2;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.card-project-section a {
  border: 2px solid #F4D800;
  background-color: #F4D800;
  box-shadow: 3px 3px 2px #53565A;
  border-radius: 10px;
  color: black;
  margin-bottom: 20px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

.card-project-section a:hover {
  border: 2px solid #53565A;
}

.card-project-section p {
  margin: 10px auto;
  text-align: justify;
  width: 90%;
}
