@media screen and (max-width: 600px) {
  .footer-section {
    height: 50px;
  }

  .button-home {
    font-size: 1.3em;
  }

  .copyrigth {
    color: white;
    font-size: 12px;
  }

  .fa-copyright {
    font-family: 12px;
  }
}

@media screen and (min-width: 601px) {
  .footer-section {
    height: 100px;
  }

  .button-home {
    font-size: 2em;
  }

  .copyrigth {
    color: white;
    font-size: 25px;
  }

  .fa-copyright {
    font-family: 25px;
  }
}

.footer-section {
  bottom: 0;
  background-color: black;
  display: flex;
  position: fixed;
  width: 100%;
}

.button-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.button-home {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.copyright {
  align-self: flex-end;
}

.hidden {
  visibility: hidden;
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}
