@media screen and (max-width: 600px) {
  .header-section {
    height: 50px;
  }
  .links-header-section {
    padding: 0 5px;
    text-align: end;
  }

  .toplink {
    font-size: 2em;
    margin: 3px 10px;
  }

}

@media screen and (min-width: 601px) {
  .header-section {
    height: 100px;
  }

  .toplink {
    font-size: 4em;
    margin: 3px 30px;
  }
}

.header-section {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-section h3 {
  font-size: 4em;
}

.toplink {
  border: 2px solid transparent;
  color: white;
  padding: 3px;
}

.toplink:hover {
  border: 2px solid white;
  border-radius: 4px;
  
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  -o-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}