@media screen and (max-width: 600px) {
  .text-main-section {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align:justify;
    width: 90%;
  }

  .main-div {
    margin-top: 110px;
    padding-bottom: 10px;
  }

  .button-main-section {
    display: flex;
    flex-flow: column wrap;
  }

  .button-main-section a {
    box-shadow: 3px 3px 2px #53565A;
    font-size: 1em;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 15px;
    width: 100%;
  }

  .main-section h1 {
    font-size: 150%;
    text-align: justify;
  }

  .main-section h2 {
    font-size: 150%;
    text-align: justify;
  }
}

@media screen and (min-width: 601px) {
  .text-main-section {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    text-align: start;
    width: 70%;
  }
  
  .main-div {
    margin-top: 90px;
    padding-bottom: 10px;
  }
  
  .main-section {
    margin-top: 150px;
  }

  .main-section h1 {
    font-size: 200%;
  }

  .main-section h2 {
    font-size: 200%;
  }

  .button-main-section {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .button-main-section a {
    margin-bottom:70px;
    width: 230px;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-div {
  background-color: #ECF1F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.button-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-main-section a {
  border: 2px solid silver;
  background-color: silver;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.button-main-section a:hover {
  border: 2px solid #53565A;
}