@media screen and (max-width: 600px) {
  .main-section {
    margin-top: 50px;
  }

  .text-main-section {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    text-align:justify;
    width: 90%;
  }

  .button-main-section a {
    font-size: 1em;
    margin-bottom:70px;
    width: 100px;
    margin-left: 15px;
  }

  .main-section h1 {
    font-size: 150%;
  }

  .main-section h2 {
    font-size: 150%;
  }
}

@media screen and (min-width: 601px) {
  .text-main-section {
    margin-top: 75px;
    margin-left: 20%;
    text-align: start;
    width: 70%;
  }
  
  .main-section {
    margin-top: 100px;
  }

  .main-section h1 {
    font-size: 200%;
  }

  .main-section h2 {
    font-size: 200%;
  }

  .button-main-section a {
    font-size: 2em;
    margin-bottom:70px;
    width: 230px;
    margin-right: 50px;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.text-main-section {
  margin-top: 75px;
  margin-left: 20%;
  text-align: start;
  width: 70%;
}

.button-main-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 75px;
  width: 70%;
}

.button-main-section a {
  background-color: silver;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.button-main-section a:hover {
  background-color: black;
  color: white;
}