@media screen and (max-width: 600px) {
  .projects-section {
    margin-top: 80px;
    margin-bottom: 60px;
    
  }

  .project-cards-div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
}

@media screen and (min-width: 601px) {
  .projects-section {
    margin-top: 150px;
  }

  .project-cards-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto 150px;
    width: 90%;
  }
}